/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
	--text-color : #fafafa; /* Texte presque blanc */
	--background: #36393f; /* Fond bleu foncé */
	--main-color: #0f13d0;
	--active-color: #ff7f00;
}



* {
	color: var(--text-color) ;
}

body {
	background-color: var(--background);
	font: 14pt Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 90%;
	margin: 40px auto;
}


/* Partie En-tête */
h1 {
	/* margin-top: 1em; */
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	color: var(--main-color);
}


#bars{
	display: flex;
	flex-wrap: wrap;
}

h2 {
	margin: 0.5em
	text-align: center;
	font-variant: small-caps;
	color: var(--main-color);
}

h2:first-child{
	margin-top: 0em;
}

p#explication {
	font-size: 1.2em;
}


/* Conteneur principal */
#conteneur {
	display: flex;
	flex: 1;
	margin: 30px auto;
}

/* Section Recherche (avec résultats) */
#section-recherche {
	margin-top: 0;
	flex: 1 1 auto;
}

#bloc-recherche, #bloc-pourcent {
	display: flex;
	min-width: 450px;
	flex-direction: row;
}

.blocbar{
	margin: 10px;
	flex: 1;
}

.blocbar:first-child{
	margin-left: 0;
}

.blocbar:last-child{
	margin-left: 0;
	margin-right: 0
}

button, input{
	display: block;
	font-size: 1.2em ;
}

input {
	color: #2d2d2d; /* Presque noir */
	flex: 1;
	padding: 0.7em;
	border: 0.3em solid var(--main-color);
}

button {
	padding: 0.8em 0.8em;
	/* Bordure invisible pour que le hover ne bouge pas le bouton */
	border: 1px solid var(--main-color);

	background-color: var(--main-color);

}


button:hover {
	cursor: pointer;
	border: 1px solid white;
}

button:active {
	background-color: var(--active-color);
}
